@media only screen and (max-width: 600px) {
  .hide_mobile{
    display: none;
  }
  .esfera{
    margin-top: 1em;
  }
  .carousel-item img{
    margin-top: 0;
  }
  .formulario{
    position: relative;
    margin-top: 0;
  }
  .top_footer h4{
    font-size: 25px;
    line-height: 65px;
  }
  .top_footer img{
    width: 225px
  }
  .footer .icones{
    height: 30px;
    width: 29px;
    margin-top: 1em;
  }
  .footer i{
    top: 1em;
    margin-left: -5px;
  }
  .footer i{
    font-size: 20px;
  }
  .footer p{
    font-size: 0.6rem !important;
    height: 1.5rem !important;
  }
}

@media only screen and (max-width: 320px) {
  .footer p {
      font-size: 8px;
      height: 23px;
  }
  .footer i{
    top: 1.2em;
    font-size: 19px;
  }
}

@media only screen and (max-width: 1020px) {
.top_footer h3{
  font-size: 1.5rem;
}
.footer p{
  font-size: 0.8rem;
}


}
