/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}


.logo{
  width: 258px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10px;
}

.titulo{
  color:#6f292b;
  font-weight: bold;
  text-align: center;
  opacity: 0.6;
  margin-top: 1em;
}
.texto_titulo{
  color:#6f292b;
  text-align: center;
}
.esfera{
  color:#6f292b;
  text-align: center;
  /* width: 13% !important;
  position: relative;
  max-width: 13%;
  margin-left: auto; */
}
.esfera p{
  position: absolute;
  top: 2.5em;
  right: 0;
  left: 10px;
}

.esfera img{
  width: 125px;
}

.row_esfera{
}
.carousel{
  max-height: 370px !important;
}
.carousel-item img{
  margin-top: -15em;
}
.carousel-inner{
  width:100%;
  max-height: 370px !important;
}
.slider{
  margin-top: 2.5em;
}

.slider .carousel-indicators li{
  background-color: #6f292b;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.formulario{
  background: #6f292b;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  position: absolute;
  left: 0;
  margin-top: -5em;
  opacity: 0.9;
  height: 335px;
  z-index: 9;
}

.formulario h2{
  color:#c8a66f;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.formulario input{
  color: #fff;
  background: transparent;
  border-radius: 0px;
  margin-top:10px;
}
.formulario input::placeholder{
  color: #fff;
}
.formulario input:focus{
  background: transparent;
  color: #fff;
  border-color:#fff;
}
.formulario button{
  background: #fff;
  border-radius: 0px;
  color: #6f292b;
  font-weight: bold;
  margin-top: 15px;
  width: 100%;
}

.top_footer{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.top_footer h3{
  font-size: 32px;
  line-height: 50px;
  color: #c8a66f;
  float: right;
  text-align: center;
  margin-top: 4%;
  margin-right: 5%;
}
.top_footer img{
  width: 335px;
  float: right;
  position: absolute;
  right: 0;
}

.footer{

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #998880;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}


.footer .icones{
  background: #c8a66f;
  border-radius: 50%;
  padding: 15px 12px 10px 12px;
  height: 40px;
  width: 42px;
  margin-top: 0.6em;

}
.footer i{
  font-size: 22px;
  text-align: center;
  color: #7e3f41;
  position: absolute;
  top: 0.8em;
}
.footer p{
  color: #743334;
  font-weight: bold;
  margin-left: 2em;
  font-size: 14px;
  height: 40px;

}
.footer a{
  color: #743334;
}
.footer a:hover{
  text-decoration: none;
}
.footer .telefone{
  margin-top: -2.5em;
  text-align: center;
}
.footer .email{
  margin-top: -0.8em;
}

.texto_footer{
  height: 195px;
}
.elementos_footer{
  display: inline-flex;
}
